<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.starwingsLearningDestination">

    <application
        android:allowBackup="true"
        android:icon="@drawable/starwings_72"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:label="StarwingsApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApPoHmM26Vv23rasFRhj6Z5X0zgxUeIh4"/>
        <activity
            android:name="com.example.admin.starwingsLearningDestination.OurStaffActivity"
            android:launchMode="singleTop">

        </activity>
        <activity android:name="com.example.admin.starwingsLearningDestination.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.admin.starwingsLearningDestination.HomeScreenActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.example.admin.starwingsLearningDestination.Courses"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.admin.starwingsLearningDestination.TestimonialActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.admin.starwingsLearningDestination.GalleryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.admin.starwingsLearningDestination.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.admin.starwingsLearningDestination.VariousCourses"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.admin.starwingsLearningDestination.TestimonialDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.admin.starwingsLearningDestination.StaffActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.admin.starwingsLearningDestination.LocateUsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.admin.starwingsLearningDestination.GalleryImage"
            android:screenOrientation="portrait"/>
    </application>

</manifest>